.loginBTN {
    background-color: #7FA25C;
}

.navigation {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.cart {
    border: none;
    cursor: pointer;
    background-color: transparent;
    transition: all 0.1s ease-in-out;
    padding: 0.3rem;
    border-radius: 100%;
    &:hover {
        background-color: rgb(185, 185, 185)
    }
}